.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
}

.AppBar {
  margin: 0;
}

.Header-logo {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 90px;
}

@media (max-width: 700px) {
  .Header-logo {
    display: none;
  }
}
