html {
  height: 100%;
}

body {
  font-family: "roboto", open-sans;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 300;
  background-image: linear-gradient(
      to right bottom,
      rgb(13, 64, 131, 0.9),
      rgb(66, 135, 193, 0.9)
    ),
    url(./logo-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0px;
}

/* Remove close icon from input on IE */
input::-ms-clear {
  display: none;
}
